@font-face {
  font-family: Oswald;
  src: url('fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: Droid;
  src: url('fonts/DroidSerif.ttf');
}

@font-face {
  font-family: Droid-Bold;
  src: url('fonts/DroidSerif-Bold.ttf');
}
@font-face {
  font-family: Droid-italic;
  src: url('fonts/DroidSerif-Italic.ttf');
}

.content {
	width: 900px;
	margin: 50px auto;
	text-align: center;
	font-family: 'Droid', serif;
}

.content-narrow {
  width: 700px;
  margin: 0px auto;
}

.links {
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid;
}

.fine-print {
	font-family: "Droid-italic";
}

.links {
  margin: 30px auto;
}

p {
  line-height: 20px;
  padding: 15px 0px;
  font-weight: normal;
}

.links a {
	margin: 20px;
}

ul {
	list-style-type: none;
}

.emphasis {

	font-family: "Droid-italic";
  border: 1px solid;
  margin: 40px auto;
  width: 90%;
  padding: 10px;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 75px;
  font-weight: normal;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  font-weight: normal;
}

h3 {
  font-family: "Droid";
  font-size: 20px;
  font-weight: normal;
}

h4 {
	font-family: "Droid-bold";
	font-size: 20px;
  font-weight: normal;
}

table
{
    color:#000000;
    border-collapse:collapse;
    padding:0px;
    margin: 30px auto;
}
 
th
{
    color:#000000;
    border-bottom-style: solid;
    border-width:1px;
    border-color:#000000;
   	font-family: "Droid-bold";
    font-weight: normal;
    padding:0px;
    text-align:center;
    vertical-align:top;
}

tr
{
    font-weight:normal;
}

.heading-row {
  line-height: 30px;
  border-bottom: 1px solid;
}
 
td
{
    padding:10px 10px 0px;
    text-align:left;
    vertical-align:top;
}

.important-info {
  width: 500px;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid;
}

.important-info p {
  line-height: 1;
  padding: 5px;
}

.important-info h4 {
  margin: 5px;
}

.list li {
  border-bottom: 1px solid;
  padding-top: 10px;
}